html {
  font-family: Poppins, sans-serif !important;
  font-synthesis: none;
  line-height: 1.15 !important;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 16px;
  font-weight: 500;
  min-height: 100vh;
  min-width: 320px;
  padding: 0;
}
